@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body {

  /* min-height: 100vh; */
  background: #343541;
}


#body {
  margin: 0;
  padding: 0;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */

}

* {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

h1 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  
  font-weight: bold;
}

img {
  width: 180px;
}

#form {

  width: 80%;
  max-width: 800px;
  /* background-color: red; */
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rebeccapurple; */

}

#IA {
  
  /* margin-top: 30px; */
  /* background: linear-gradient(rgba(0, 0, 0, .03), transparent, transparent); */
  /* height: 60vh; */

  overflow-y: auto;
  /* background-color: red; */
  /* margin: 20px; */
  padding: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
  transition: .25s;
  /* text-align: center; */
  margin-top: 0;
  padding-top: 0px;
  padding: 20px;
  padding-bottom: 50px;
  padding-left: 0;
  padding-right: 0;
}

#form textarea {
  width: 89%;
  resize: none;
  /* height: 50px; */
  border-radius: 10px;
  /* padding: 10px; */
  /* padding-left: 20px; */
  outline: none;
  padding-top: 5px;
  border: 2px solid rgba(0, 0, 0, .1);
  /* box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.05); */
  margin: 0;
  padding: 20px;
  padding-left: 20px;
  cursor: auto 30px;
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  border-width: 3px;

  font-family: 600;
  color: #fff;
  margin-bottom: 10PX;

}


#form textarea {
  /* border-width: 10px; */
  caret-color: orange;
  background: #40414F;

}







.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: black;
  animation: lds-grid 1.2s linear infinite;
}

.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}








* {
  scrollbar-width: thin;
  scrollbar-color: gray #343541;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #343541;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid #343541;
}







.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 0px auto;
  position: relative;
  background: #FFF;
  box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 0.8s linear infinite;
  transform: scale(.5);
}

@keyframes shadowPulse {
  33% {
    background: rgba(216, 216, 216, .1);
    box-shadow: -24px 0 gray, 24px 0 rgba(216, 216, 216, .1);
  }

  66% {
    background: gray;
    box-shadow: -24px 0 rgba(216, 216, 216), 24px 0 rgba(216, 216, 216, .1);
  }

  100% {
    background: rgba(216, 216, 216, .1);
    box-shadow: -24px 0 rgba(216, 216, 216, .1), 24px 0 gray;
  }
}

.vanilla {
  /* width: 200px; */
  /* height: 50px; */
  /* background:  #fff; */
  /* border: solid 2px gainsboro; */
  transform-style: preserve-3d;
  transform: perspective(1000px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
  /* padding-b: 20px; */
  margin: 10px;
  /* border: 2px solid rgba(0, 0, 0, .1); */

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* border-bottom: solid 2px gray; */

  z-index: 3000;
  transform: translateZ(30px);
  background-color: #40414F;
  /* border-radius: 0px; */
  margin: 0;

}

.vanilla p {
  /* z-index: 3000; */
  /* transform: translateZ(30px); */
  color: #fff;

}

.human {
  /* background: linear-gradient(315deg, #f321d7,#ffec61); */
  /* background: #fd8419; */
  /* z-index: 5; */
  /* border: solid 2px gainsboro; */
  border: none;

  /* border-radius: 0px; */
  background-color: #343541;

  /* color: black; */


}

.human p {
  /* color: black; */
}





.load {
  width: 48px;
  height: 48px;
  border: 5px solid #40414F;
  border-bottom-color: rgba(0, 0, 0, .1);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 0.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes slide-up {
  0% {
    opacity: 0;
    /* transform: scale(.7); */
    transform: translateY(-20px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0px);
    /* transform: scale(1); */

  }
}







.n-e-wnew-n-e-w {
  /* transform-style: preserve-3d ; */
  animation: slide-up 0.1xs ease-in forwards;
  /* background: linear-gradient(315deg, #f321d7,#ffec61);
  /* color: white !important; */
  /* border: none;
  z-index: 5000;  */
  /* transform: perspective(1000px) */



}

.n-e-wnew-n-e-w p {
  /* color: white; */
}

/* .n-e-wnew-n-e-w::after{
  content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(315deg, #ffec61,#f321d7);
    filter: blur(25px);
    border-radius: 30px;
    transform: translateY(10px) scale(.9);
    z-index: 1;

  
} */




